{% extends "main.html" %}
{% block content %}

<h1>Recent Items</h1>

<button>
    <a href="{{ url_for('newItem') }}">add game</a>
</button>

{% for item in items %}
<article class="item">
<h2>
  <a href="{{ url_for('showItem', item_id=item.id) }}">
    {{ item.title }}
  </a>
</h2>

<a href="{{ url_for('showItem', item_id=item.id) }}">
    <img class="boxart" src="{{ item.picture }}" alt="{{ item.title }} cover">
</a>

<h3>{{ item.genre.name }} - {{ item.platform.name }}</h3>

{{ item.description|safe }}

<p>added by {{ item.user.username }}</p>
</article>

{% endfor %}
{% endblock %}
