{% extends "main.html" %}
{% block content %}

{% if targetPlatform %}
<h1>{{ targetPlatform.name }}</h1>
{% elif targetGenre %}
<h1>{{ targetGenre.name }}</h1>
{% endif %}

{% for item in items %}
<a href="{{ url_for('showItem', item_id=item.id) }}">
    <img src="{{ item.picture }}" alt="{{ item.title }} cover">
</a>
<h2>
    <a href="{{ url_for('showItem', item_id=item.id) }}">
        {{ item.title }}
    </a>
</h2>
<p>{{ item.genre.name }} - {{ item.platform.name }}</p>
{% endfor %}

{% endblock %}
